<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuyuwaiting.recipemanage.mapper.EnumInfoMapper">
    <resultMap id="BaseResultMap" type="com.zhuyuwaiting.recipemanage.model.EnumInfo">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="key" property="key" jdbcType="VARCHAR"/>
        <result column="key_desc" property="keyDesc" jdbcType="VARCHAR"/>
        <result column="value" property="value" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="desc" property="desc" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <insert id="insert" parameterType="com.zhuyuwaiting.recipemanage.model.EnumInfo">
    insert into enum_info (id, `key`, key_desc,
      `value`, `name`, `desc`,
      status, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{key,jdbcType=VARCHAR}, #{keyDesc,jdbcType=VARCHAR}, 
      #{value,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective"  keyProperty="id" useGeneratedKeys="true" parameterType="com.zhuyuwaiting.recipemanage.model.EnumInfo">
        insert into enum_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="key != null">
                `key`,
            </if>
            <if test="keyDesc != null">
                key_desc,
            </if>

            <if test="value != null">
                `value`,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="desc != null">
                `desc`,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="key != null">
                #{key,jdbcType=VARCHAR},
            </if>
            <if test="keyDesc != null">
                #{keyDesc,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                #{value,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="desc != null">
                #{desc,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>


    <select id="selectByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        select
        *
        from enum_info
        <where>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER}
            </if>
            <if test="key != null">
                and `key` = #{key,jdbcType=VARCHAR}
            </if>
            <if test="keyDesc != null">
                and keyDesc = #{keyDesc,jdbcType=VARCHAR}
            </if>
            <if test="nonValue == true">
                and `value` is null
            </if>
            <if test="nonValue == false">
                and `value` is not null
            </if>
            <if test="value != null">
               and  `value` = #{value,jdbcType=VARCHAR}
            </if>
            <if test="name != null">
              and `name`  = #{name,jdbcType=VARCHAR}
            </if>
            <if test="desc != null">
               and `desc` =  #{desc,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time  = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="keys != null">
                and `key` in
                <foreach item="item" index="index" collection="keys" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

        </where>
        <if test="orderBy" >
            order by ${orderBy}
        </if>
        <if test="current != null and pageSize !=null " >
            limit   #{currentIndex,jdbcType=INTEGER} , #{pageSize,jdbcType=INTEGER}
        </if>

    </select>


    <select id="countByParams" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select
        count(*)
        from enum_info
        <where>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER}
            </if>
            <if test="key != null">
                and `key` = #{key,jdbcType=VARCHAR}
            </if>
            <if test="keyDesc != null">
                and keyDesc = #{keyDesc,jdbcType=VARCHAR}
            </if>
            <if test="nonValue == true">
                and `value` is null
            </if>
            <if test="nonValue == false">
                and `value` is not null
            </if>
            <if test="value != null">
                and  `value` = #{value,jdbcType=VARCHAR}
            </if>
            <if test="name != null">
                and `name`  = #{name,jdbcType=VARCHAR}
            </if>
            <if test="desc != null">
                and `desc` =  #{desc,jdbcType=VARCHAR}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="updateTime != null">
                and update_time  = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="keys != null">
                and `key` in
                <foreach item="item" index="index" collection="keys" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

        </where>

    </select>


    <update id="deleteByKeyAndValue">
        update  enum_info set status = 'INVALID' where
        `key`  = #{key,jdbcType=VARCHAR} and `value`  = #{value,jdbcType=VARCHAR}
    </update>

    <select id="selectByKeyAndValue" resultMap="BaseResultMap">
        select * from enum_info where
        `key`  = #{key,jdbcType=VARCHAR} and `value`  = #{value,jdbcType=VARCHAR}
    </select>
</mapper>