<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuyuwaiting.recipemanage.mapper.MedicineMapper" >
  <resultMap id="BaseResultMap" type="com.zhuyuwaiting.recipemanage.model.Medicine" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="medicine_no" property="medicineNo" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="english_name" property="englishName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="cell_unit" property="cellUnit" jdbcType="VARCHAR" />
    <result column="medical_advice" property="medicalAdvice" jdbcType="VARCHAR" />
    <result column="cell_num" property="cellNum" jdbcType="INTEGER" />
    <result column="cell_weight" property="cellWeight" jdbcType="INTEGER" />
    <result column="each_dose" property="eachDose" jdbcType="INTEGER" />
    <result column="taking_way" property="takingWay" jdbcType="VARCHAR" />
    <result column="unit_str" property="unitStr" jdbcType="VARCHAR" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="spec" property="spec" jdbcType="VARCHAR" />
    <result column="frequency" property="frequency" jdbcType="VARCHAR" />
    <result column="daily_times" property="dailyTimes" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.zhuyuwaiting.recipemanage.model.Medicine" >
    insert into medicine (id, medicine_no, name, memo,spec,frequency,
      english_name, type, unit, 
      cell_unit,medical_advice, cell_num, cell_weight,
      each_dose, taking_way,unit_str, daily_times,
      status, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{medicineNo,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR},#{spec,jdbcType=VARCHAR},#{frequency,jdbcType=VARCHAR},
      #{englishName,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, 
      #{cellUnit,jdbcType=VARCHAR},#{medicalAdvice,jdbcType=VARCHAR}, #{cellNum,jdbcType=INTEGER}, #{cellWeight,jdbcType=INTEGER},
      #{eachDose,jdbcType=INTEGER}, #{takingWay,jdbcType=VARCHAR},#{unitStr,jdbcType=VARCHAR}, #{dailyTimes,jdbcType=INTEGER},
      #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective"  keyProperty="id" useGeneratedKeys="true" parameterType="com.zhuyuwaiting.recipemanage.model.Medicine" >
    insert into medicine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="medicineNo != null" >
        medicine_no,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="memo != null" >
      memo,
      </if>
      <if test="spec != null" >
      spec,
      </if>
      <if test="frequency != null" >
        frequency,
      </if>
      <if test="englishName != null" >
        english_name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="cellUnit != null" >
        cell_unit,
      </if>
      <if test="medicalAdvice != null" >
        medical_advice,
      </if>
      <if test="cellNum != null" >
        cell_num,
      </if>
      <if test="cellWeight != null" >
        cell_weight,
      </if>
      <if test="eachDose != null" >
        each_dose,
      </if>
      <if test="takingWay != null" >
        taking_way,
      </if>
      <if test="unitStr != null" >
        unit_str,
      </if>
      <if test="dailyTimes != null" >
        daily_times,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="medicineNo != null" >
        #{medicineNo,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="spec != null" >
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="cellUnit != null" >
        #{cellUnit,jdbcType=VARCHAR},
      </if>
      <if test="medicalAdvice != null" >
        #{medicalAdvice,jdbcType=VARCHAR},
      </if>
      <if test="cellNum != null" >
        #{cellNum,jdbcType=INTEGER},
      </if>
      <if test="cellWeight != null" >
        #{cellWeight,jdbcType=INTEGER},
      </if>
      <if test="eachDose != null" >
        #{eachDose,jdbcType=INTEGER},
      </if>
      <if test="takingWay != null" >
        #{takingWay,jdbcType=VARCHAR},
      </if>
      <if test="unitStr != null" >
        #{unitStr,jdbcType=VARCHAR},
      </if>
      <if test="dailyTimes != null" >
        #{dailyTimes,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="selectByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select
    *
    from medicine
    <where>
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER}
      </if>
      <if test="medicineNo != null" >
        and medicine_no LIKE CONCAT(#{medicineNo,jdbcType=VARCHAR},'%')
      </if>
      <if test="name != null" >
        and `name` LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
      </if>

      <if test="memo != null" >
        and `memo` LIKE CONCAT('%',#{memo,jdbcType=VARCHAR},'%')
      </if>
      <if test="spec != null" >
        and `spec` LIKE CONCAT('%',#{spec,jdbcType=VARCHAR},'%')
      </if>
      <if test="frequency != null" >
        and `frequency` LIKE CONCAT('%',#{frequency,jdbcType=VARCHAR},'%')
      </if>
      <if test="englishName != null" >
        and english_name LIKE CONCAT('%',#{englishName,jdbcType=VARCHAR})
      </if>
      <if test="type != null" >
        and `type` = #{type,jdbcType=VARCHAR}
      </if>
      <if test="unit != null" >
        and unit = #{unit,jdbcType=VARCHAR}
      </if>
      <if test="cellUnit != null" >
        and cell_unit = #{cellUnit,jdbcType=VARCHAR}
      </if>
      <if test="medicalAdvice != null" >
        and medical_advice = #{medicalAdvice,jdbcType=VARCHAR}
      </if>
      <if test="cellNum != null" >
        and cell_num = #{cellNum,jdbcType=INTEGER}
      </if>
      <if test="cellWeight != null" >
        and cell_weight = #{cellWeight,jdbcType=INTEGER}
      </if>
      <if test="eachDose != null" >
        and each_dose = #{eachDose,jdbcType=INTEGER}
      </if>
      <if test="takingWay != null" >
        and taking_way = #{takingWay,jdbcType=VARCHAR}
      </if>
      <if test="unitStr != null" >
        and unit_str = #{unitStr,jdbcType=VARCHAR}
      </if>
      <if test="dailyTimes != null" >
        and daily_times = #{dailyTimes,jdbcType=INTEGER}
      </if>
      <if test="status != null" >
        and status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>

    <if test="orderBy" >
      order by ${orderBy}
    </if>
    <if test="current != null and pageSize !=null " >
      limit   #{current,jdbcType=INTEGER} , #{pageSize,jdbcType=INTEGER}
    </if>
  </select>


  <select id="countByParams" parameterType="java.util.HashMap" resultType="java.lang.Integer">
    select
    count(*)
    from medicine
    <where>
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER}
      </if>
      <if test="medicineNo != null" >
        and medicine_no LIKE CONCAT(#{medicineNo,jdbcType=VARCHAR},'%')
      </if>
      <if test="name != null" >
        and `name` LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
      </if>
      <if test="nameEqual != null" >
        and `name` = #{nameEqual,jdbcType=VARCHAR}
      </if>
      <if test="memo != null" >
        and `memo` LIKE CONCAT('%',#{memo,jdbcType=VARCHAR},'%')
      </if>
      <if test="spec != null" >
        and `spec` LIKE CONCAT('%',#{spec,jdbcType=VARCHAR},'%')
      </if>
      <if test="frequency != null" >
        and `frequency` LIKE CONCAT('%',#{frequency,jdbcType=VARCHAR},'%')
      </if>
      <if test="englishName != null" >
        and english_name LIKE CONCAT('%',#{englishName,jdbcType=VARCHAR})
      </if>
      <if test="type != null" >
        and type = #{type,jdbcType=VARCHAR}
      </if>
      <if test="unit != null" >
        and unit = #{unit,jdbcType=VARCHAR}
      </if>
      <if test="cellUnit != null" >
        and cell_unit = #{cellUnit,jdbcType=VARCHAR}
      </if>
      <if test="medicalAdvice != null" >
        and medical_advice = #{medicalAdvice,jdbcType=VARCHAR}
      </if>
      <if test="cellNum != null" >
        and cell_num = #{cellNum,jdbcType=INTEGER}
      </if>
      <if test="cellWeight != null" >
        and cell_weight = #{cellWeight,jdbcType=INTEGER}
      </if>
      <if test="eachDose != null" >
        and each_dose = #{eachDose,jdbcType=INTEGER}
      </if>
      <if test="takingWay != null" >
        and taking_way = #{takingWay,jdbcType=VARCHAR}
      </if>
      <if test="unitStr != null" >
        and unit_str = #{unitStr,jdbcType=VARCHAR}
      </if>
      <if test="dailyTimes != null" >
        and daily_times = #{dailyTimes,jdbcType=INTEGER}
      </if>
      <if test="status != null" >
        and status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <select id="selelctByMedicineNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from medicine where medicine_no = #{medicineNo}
  </select>

  <select id="selelctByMedicineNos" parameterType="java.util.List" resultMap="BaseResultMap">
    select * from medicine where medicine_no   in
    <foreach item="item" index="index" collection="medicineNos" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>
  <update id="deleteByMedicineNo">
        update  medicine set status = 'INVALID',
    update_time = current_timestamp() where
    `medicine_no` in
    <foreach item="item" index="index" collection="medicineNos" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>

  <update id="updateBySelective" parameterType="com.zhuyuwaiting.recipemanage.model.Medicine">
    UPDATE medicine
    <trim prefix="set" suffixOverrides=",">
      <if test="name!=null">`name`=#{name},</if>
      <if test="memo!=null">`memo`=#{memo},</if>
      <if test="spec!=null">`spec`=#{spec},</if>
      <if test="frequency!=null">`frequency`=#{frequency},</if>
      <if test="englishName!=null">english_name=#{englishName},</if>
      <if test="type!=null">`type`=#{type},</if>
      <if test="unit!=null">unit=#{unit},</if>
      <if test="cellUnit!=null">cell_unit=#{cellUnit},</if>
      <if test="medicalAdvice!=null">medical_advice=#{medicalAdvice},</if>
      <if test="cellNum!=null">cell_num=#{cellNum},</if>
      <if test="cellWeight!=null">cell_weight=#{cellWeight},</if>
      <if test="eachDose!=null">each_dose=#{eachDose},</if>
      <if test="takingWay!=null">taking_way=#{takingWay},</if>
      <if test="unitStr!=null">unit_str=#{unitStr},</if>
      <if test="dailyTimes!=null">daily_times=#{dailyTimes},</if>
      <if test="status!=null">status=#{status},</if>
      update_time = current_timestamp(),
    </trim>
    WHERE medicine_no=#{medicineNo}
  </update>


</mapper>