<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuyuwaiting.recipemanage.mapper.RecipeTemplateDetailMapper">
    <resultMap id="BaseResultMap" type="com.zhuyuwaiting.recipemanage.model.RecipeTemplateDetail">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="recipe_template_no" property="recipeTemplateNo" jdbcType="VARCHAR"/>
        <result column="medicine_no" property="medicineNo" jdbcType="VARCHAR"/>
        <result column="medicine_num" property="medicineNum" jdbcType="INTEGER"/>
    </resultMap>
    <insert id="insert" parameterType="com.zhuyuwaiting.recipemanage.model.RecipeTemplateDetail">
    insert into recipe_template_detail (id, recipe_template_no, medicine_no, 
      medicine_num)
    values (#{id,jdbcType=INTEGER}, #{recipeTemplateNo,jdbcType=VARCHAR}, #{medicineNo,jdbcType=VARCHAR}, 
      #{medicineNum,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.zhuyuwaiting.recipemanage.model.RecipeTemplateDetail">
        insert into recipe_template_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="recipeTemplateNo != null">
                recipe_template_no,
            </if>
            <if test="medicineNo != null">
                medicine_no,
            </if>
            <if test="medicineNum != null">
                medicine_num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="recipeTemplateNo != null">
                #{recipeTemplateNo,jdbcType=VARCHAR},
            </if>
            <if test="medicineNo != null">
                #{medicineNo,jdbcType=VARCHAR},
            </if>
            <if test="medicineNum != null">
                #{medicineNum,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="selectByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        select
        *
        from recipe_template_detail
        <where>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER}
            </if>
            <if test="recipeTemplateNo != null">
                and recipeTemplate_no = #{recipeTemplateNo,jdbcType=VARCHAR}
            </if>
            <if test="medicineNo != null">
                and medicine_no = #{medicineNo,jdbcType=VARCHAR}
            </if>
            <if test="medicineNum != null">
                and medicine_num = #{medicineNum,jdbcType=VARCHAR}
            </if>
        </where>

        <if test="orderBy">
            order by ${orderBy}
        </if>
        <if test="current != null and pageSize !=null ">
            limit #{current,jdbcType=INTEGER} , #{pageSize,jdbcType=INTEGER}
        </if>
    </select>


    <select id="countByParams" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select
        count(*)
        from recipe_template_detail
        <where>
            <if test="id != null">
                id = #{id,jdbcType=INTEGER}
            </if>
            <if test="recipeTemplateNo != null">
                and recipeTemplate_no = #{recipeTemplateNo,jdbcType=VARCHAR}
            </if>
            <if test="medicineNo != null">
                and medicine_no = #{medicineNo,jdbcType=VARCHAR}
            </if>
            <if test="medicineNum != null">
                and medicine_num = #{medicineNum,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <update id="updateBySelective" parameterType="com.zhuyuwaiting.recipemanage.model.RecipeTemplateDetail">
        UPDATE recipe_template_detail
        <trim prefix="set" suffixOverrides=",">
            <if test="medicineNum!=null">`medicine_num`=#{medicineNum},</if>
        </trim>
        WHERE recipe_template_no=#{recipeTemplateNo}
        and medicine_no=#{medicineNo}
    </update>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into recipe_template_detail (recipe_template_no, medicine_no, medicine_num) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.recipeTemplateNo},
            #{item.medicineNo},
            #{item.medicineNum})
        </foreach>
    </insert>

    <delete id="deleteByRecipeTemplateNos">
        delete from recipe_template
        where
        `recipeTemplate_no` in
        <foreach item="item" index="index" collection="nos" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>