<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuyuwaiting.recipemanage.mapper.RecipeTemplateMapper" >
  <resultMap id="BaseResultMap" type="com.zhuyuwaiting.recipemanage.model.RecipeTemplate" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="recipe_template_no" property="recipeTemplateNo" jdbcType="VARCHAR" />
    <result column="recipe_type" property="recipeType" jdbcType="VARCHAR" />
    <result column="disease" property="disease" jdbcType="VARCHAR" />
    <result column="classfication" property="classfication" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.zhuyuwaiting.recipemanage.model.RecipeTemplate" >
    insert into recipe_template (id, recipe_template_no, recipe_type, 
      disease, classfication, status, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{recipeTemplateNo,jdbcType=VARCHAR}, #{recipeType,jdbcType=VARCHAR}, 
      #{disease,jdbcType=VARCHAR}, #{classfication,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuyuwaiting.recipemanage.model.RecipeTemplate" >
    insert into recipe_template
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="recipeTemplateNo != null" >
        recipe_template_no,
      </if>
      <if test="recipeType != null" >
        recipe_type,
      </if>
      <if test="disease != null" >
        disease,
      </if>
      <if test="classfication != null" >
        classfication,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="recipeTemplateNo != null" >
        #{recipeTemplateNo,jdbcType=VARCHAR},
      </if>
      <if test="recipeType != null" >
        #{recipeType,jdbcType=VARCHAR},
      </if>
      <if test="disease != null" >
        #{disease,jdbcType=VARCHAR},
      </if>
      <if test="classfication != null" >
        #{classfication,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <select id="selectByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select
    *
    from recipe_template
    <where>
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER}
      </if>
      <if test="recipeTemplateNo != null" >
       and  recipeTemplate_no =  #{recipeTemplateNo,jdbcType=VARCHAR}
      </if>
      <if test="recipeType != null" >
        and recipe_type = #{recipeType,jdbcType=VARCHAR}
      </if>
      <if test="disease != null" >
        and disease = #{disease,jdbcType=VARCHAR}
      </if>
      <if test="classfication != null" >
        and classfication = #{classfication,jdbcType=VARCHAR}
      </if>
      <if test="status != null" >
        and status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>

    <if test="orderBy" >
      order by ${orderBy}
    </if>
    <if test="current != null and pageSize !=null " >
      limit   #{current,jdbcType=INTEGER} , #{pageSize,jdbcType=INTEGER}
    </if>
  </select>


  <select id="countByParams" parameterType="java.util.HashMap" resultType="java.lang.Integer">
    select
    count(*)
    from recipe_template
    <where>
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER}
      </if>
      <if test="recipeTemplateNo != null" >
        and  recipeTemplate_no =  #{recipeTemplateNo,jdbcType=VARCHAR}
      </if>
      <if test="recipeType != null" >
        and recipe_type = #{recipeType,jdbcType=VARCHAR}
      </if>
      <if test="disease != null" >
        and disease = #{disease,jdbcType=VARCHAR}
      </if>
      <if test="classfication != null" >
        and classfication = #{classfication,jdbcType=VARCHAR}
      </if>
      <if test="status != null" >
        and status = #{status,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <update id="deleteByNos">
    update  recipe_template set status = 'INVALID',
    update_time = current_timestamp() where
    `recipeTemplate_no` in
    <foreach item="item" index="index" collection="nos" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>

  <update id="updateBySelective" parameterType="com.zhuyuwaiting.recipemanage.model.RecipeTemplate">
    UPDATE recipe_template
    <trim prefix="set" suffixOverrides=",">
      <if test="recipeType!=null">`recipe_type`=#{recipeType},</if>
      <if test="disease!=null">disease=#{disease},</if>
      <if test="classfication!=null">`classfication`=#{classfication},</if>
      <if test="status!=null">status=#{status},</if>
      update_time = current_timestamp(),
    </trim>
    WHERE recipeTemplate_no=#{recipeTemplateNo}
  </update>

  <select id="selelctByNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from recipe_template where recipeTemplate_no = #{no}
  </select>
</mapper>