<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhuyuwaiting.recipemanage.mapper.RecipeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.zhuyuwaiting.recipemanage.model.RecipeInfo" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="recipe_no" property="recipeNo" jdbcType="VARCHAR" />
    <result column="recipe_type" property="recipeType" jdbcType="VARCHAR" />
    <result column="age_type" property="ageType" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="patient_name" property="patientName" jdbcType="VARCHAR" />
    <result column="patient_sex" property="patientSex" jdbcType="TINYINT" />
    <result column="patient_age" property="patientAge" jdbcType="INTEGER" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="disease" property="disease" jdbcType="VARCHAR" />
    <result column="classfication" property="classfication" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.zhuyuwaiting.recipemanage.model.RecipeInfo" >
    insert into recipe_info (id, recipe_no, recipe_type, age_type,user_id,
      patient_name, patient_sex, patient_age, 
      pay_type, disease, classfication, 
      num, status, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{recipeNo,jdbcType=VARCHAR}, #{recipeType,jdbcType=VARCHAR},#{ageType,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR},
      #{patientName,jdbcType=VARCHAR}, #{patientSex,jdbcType=TINYINT}, #{patientAge,jdbcType=INTEGER}, 
      #{payType,jdbcType=VARCHAR}, #{disease,jdbcType=VARCHAR}, #{classfication,jdbcType=VARCHAR}, 
      #{num,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zhuyuwaiting.recipemanage.model.RecipeInfo" >
    insert into recipe_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="recipeNo != null" >
        recipe_no,
      </if>
      <if test="recipeType != null" >
        recipe_type,
      </if>
      <if test="ageType != null" >
        age_type,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="patientName != null" >
        patient_name,
      </if>
      <if test="patientSex != null" >
        patient_sex,
      </if>
      <if test="patientAge != null" >
        patient_age,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="disease != null" >
        disease,
      </if>
      <if test="classfication != null" >
        classfication,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="recipeNo != null" >
        #{recipeNo,jdbcType=VARCHAR},
      </if>
      <if test="recipeType != null" >
        #{recipeType,jdbcType=VARCHAR},
      </if>
      <if test="ageType != null" >
        #{ageType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="patientName != null" >
        #{patientName,jdbcType=VARCHAR},
      </if>
      <if test="patientSex != null" >
        #{patientSex,jdbcType=TINYINT},
      </if>
      <if test="patientAge != null" >
        #{patientAge,jdbcType=INTEGER},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="disease != null" >
        #{disease,jdbcType=VARCHAR},
      </if>
      <if test="classfication != null" >
        #{classfication,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>


  <select id="selectByParams" parameterType="java.util.HashMap" resultMap="BaseResultMap">
    select
    *
    from recipe_info
    <where>
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER}
      </if>
      <if test="recipeNo != null" >
        and recipe_no  LIKE CONCAT(#{recipeNo,jdbcType=VARCHAR},'%')
      </if>
      <if test="recipeType != null and recipeType != ''" >
       and  recipe_type = #{recipeType,jdbcType=VARCHAR}
      </if>
      <if test="ageType != null and ageType != ''" >
       and  age_type = #{ageType,jdbcType=VARCHAR}
      </if>
      <if test="userId != null and userId != ''" >
       and  user_id = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="patientName != null" >
        and patient_name  LIKE CONCAT(#{patientName,jdbcType=VARCHAR},'%')
      </if>
      <if test="patientSex != null" >
        and patient_sex = #{patientSex,jdbcType=TINYINT}
      </if>
      <if test="patientAge != null" >
       and patient_age  = #{patientAge,jdbcType=INTEGER}
      </if>
      <if test="payType != null" >
        and pay_type = #{payType,jdbcType=VARCHAR}
      </if>
      <if test="disease != null" >
        and disease = #{disease,jdbcType=VARCHAR}
      </if>
      <if test="classfication != null" >
        and classfication = #{classfication,jdbcType=VARCHAR}
      </if>
      <if test="num != null" >
       and num =  #{num,jdbcType=INTEGER}
      </if>
      <if test="status != null" >
       and status =  #{status,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>

    <if test="orderBy" >
      order by ${orderBy}
    </if>
    <if test="current != null and pageSize !=null " >
      limit   #{current,jdbcType=INTEGER} , #{pageSize,jdbcType=INTEGER}
    </if>
  </select>


  <select id="countByParams" parameterType="java.util.HashMap" resultType="java.lang.Integer">
    select
    count(*)
    from recipe_info
    <where>
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER}
      </if>
      <if test="recipeNo != null" >
        and recipe_no  LIKE CONCAT(#{recipeNo,jdbcType=VARCHAR},'%')
      </if>
      <if test="recipeType != null and recipeType != ''" >
        and  recipe_type = #{recipeType,jdbcType=VARCHAR}
      </if>
      <if test="ageType != null and ageType != ''" >
        and  age_type = #{ageType,jdbcType=VARCHAR}
      </if>
      <if test="userId != null and userId != ''" >
        and  user_id = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="patientName != null" >
        and patient_name  LIKE CONCAT(#{patientName,jdbcType=VARCHAR},'%')
      </if>
      <if test="patientSex != null" >
        and patient_sex = #{patientSex,jdbcType=TINYINT}
      </if>
      <if test="patientAge != null" >
        and patient_age  = #{patientAge,jdbcType=INTEGER}
      </if>
      <if test="payType != null" >
        and pay_type = #{payType,jdbcType=VARCHAR}
      </if>
      <if test="disease != null" >
        and disease = #{disease,jdbcType=VARCHAR}
      </if>
      <if test="classfication != null" >
        and classfication = #{classfication,jdbcType=VARCHAR}
      </if>
      <if test="num != null" >
        and num =  #{num,jdbcType=INTEGER}
      </if>
      <if test="status != null" >
        and status =  #{status,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null" >
        and create_time = #{createTime,jdbcType=TIMESTAMP}
      </if>
      <if test="updateTime != null" >
        and update_time = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </where>
  </select>
  <update id="deleteByNos">
    update  recipe_info set status = 'INVALID',
    update_time = current_timestamp() where
    user_id = #{userId,jdbcType=VARCHAR} and
    `recipe_no` in
    <foreach item="item" index="index" collection="nos" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>

  <update id="updateBySelective" parameterType="com.zhuyuwaiting.recipemanage.model.RecipeTemplate">
    UPDATE recipe_info
    <trim prefix="set" suffixOverrides=",">
      <if test="recipeType!=null">`recipe_type`=#{recipeType},</if>
      <if test="ageType!=null">`age_type`=#{ageType},</if>
      <if test="patientName!=null">patient_name=#{patientName},</if>
      <if test="patientSex!=null">`patient_sex`=#{patientSex},</if>
      <if test="patientAge!=null">`patient_age`=#{patientAge},</if>
      <if test="payType!=null">`pay_type`=#{payType},</if>
      <if test="disease!=null">`disease`=#{disease},</if>
      <if test="classfication!=null">`classfication`=#{classfication},</if>
      <if test="status!=null">status=#{status},</if>
      <if test="num!=null">num=#{num},</if>
      update_time = current_timestamp(),
    </trim>
    WHERE recipe_no=#{recipeNo} and user_id = #{userId}
  </update>

  <select id="selelctByNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from recipe_info where recipe_no = #{no} limit 1;
  </select>
</mapper>